/* Advantages */
.section-advantages {
  padding-top: 94px;
}
.advantages {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}
