/* Our-team */
.our-team {
  background: var(--our-team-background);
  &__list {
    // display: flex;
  }
  &__item:not(:last-child) {
    // margin-right: 30px;
    @media screen and (min-width: 480) {
    }
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }
  &__content {
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__box {
    padding: 30px 32px;
  }

  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    background-color: #ffffff;
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);

    &:hover,
    &:focus {
      fill: #fff;
      background-color: #2196f3;
    }
  }
  &__icon-list {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
.our-team__description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 9px;
}
