.modal-form {
  display: flex;
  flex-direction: column;

  &__title {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-color);
      text-align: center;

      margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.03em;
      margin-bottom: 12px;
    }
  }
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    transition: border-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      border-color: #2196f3;
    }
    &:hover + .modal-form__icon,
    &:focus + .modal-form__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
  }
  &__input-data {
    position: relative;
    margin-bottom: 10px;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    resize: none;
    transition: border-color 250ms var(--timing-function);
    outline: none;
  }
  &__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &__textarea:hover,
  &__textarea:focus {
    border-color: var(--accent-color);
  }
  &__input--agree:checked + &__checkbox:before {
    border: 0;
    background-image: url('../images/check.svg');
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--accent-color);
    border-radius: 2px;
  }
  &__input--agree:focus + &__checkbox:before {
    border-color: var(--accent-color);
  }
  &__checkbox:before {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    content: '';
    margin-right: 7px;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
  }
  &__link {
    color: #2196f3;
  }
}
