.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  background-color: #fff;
  padding: 40px 40px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  &__svg {
    width: 11px;
    height: 11px;
    transition: fill 250ms var(--timing-function);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
