:root {
    --title-color: #212121;
    --text-color: #757575;
    --primary-background: #2f303a;
    --accent-color: #2196f3;
    --secondary-color: #ffff;
    --our-team-background: #f5f4fa;
    --company-text-color: #000000;
    --background-portfolio-button: #f5f4fa;
    --portfolio-overlay-background: rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }